<template name="company">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h4>Name</h4>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">storefront</i>
                                <textarea class="materialize-textarea js-company-edit" data-key="name"
                                    value="{{company.name}}"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4>Description</h4>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">info</i>
                                <textarea class="materialize-textarea js-company-edit" data-key="description"
                                    value="{{company.description}}"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4>Menu Endpoint</h4>
                            <p>Please write a name for an endpoint you would like your clients to visit.</p>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">insert_link</i>
                                <textarea class="materialize-textarea js-company-edit" data-key="endpoint"
                                    value="{{company.endpoint}}"></textarea>
                            </div>
                            <p>Your current company endpoint is: <a
                                    href="https://devxop.com/menu/{{company.endpoint}}">https://devxop.com/menu/{{company.endpoint}}</a>
                            </p>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h4>Public collections</h4>
                            <p>Select the collections you want to be visible to the public. Make sure to
                                organize them in the order you want to be visible to the client.</p>

                            <p>You can view the public endpoint here!</p>
                            <!-- <div class="button" id="btn">Sort items</div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="sortable-section">
                                <ul class="sortable-list active">
                                    {{#each colId in company.public_collections}}
                                    <li class="sortable-list-item" data-col-id="{{colId}}"><span
                                            class="fa fa-icon fa-ellipsis-v"></span> {{getCollection colId "name"}} <a class="js-remove-public-collection" data-col-id="{{colId}}">Remove</a></li>
                                    {{else}}
                                    <p>There are no public collections available</p>
                                    {{/each}}
                                </ul>
                            </div><!-- END SORTABLE DIV -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a
                                class="btn-floating btn-large waves-effect waves-light blue right js-add-public-collection"><i
                                    class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>