body, html{
    -moz-font-feature-settings: "liga" on;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    font-family: 'Roboto', sans-serif !important;
    color: #2f3337 !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height: 1.47 !important;
    font-stretch: semi-expanded !important;
}