

.social-modal{
	position: fixed;
	background-color: #fff;
	width: 400px;
    height: 100vh;
    -moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    transform: translateX(200px) ;
    transition: all 1s;
    color: #333;
}

.social-modal-toggled{
	transform: translateX(-200px);
}

.social-conn{

}.social-conn.online{
    color: #4caf50;
}.social-conn.offline{
    color: #f44336;
}


/* .social-conn{
    position: relative;
    width: 20px;
    height: 20px;
    bottom: 42px;
    left: 10px;
    font-size: 8px;
    border-radius: 20px;
    z-index: -1;
}.social-conn.online{
    background-color: green;
}.social-conn.offline{
    background-color: red;
} */