<template name="publicCompany">

    <div class="company-header" style="background-image: url({{imageUrl company.image}})"></div>

    <div class="company-content">
        <div class="company-description">
            <h2>{{company.name}}</h2>
            <p>{{{company.description}}}</p>
        </div>

        {{#each collection in collections}}
        <div class="company-collection">
            <h4>{{collection.name}}</h4>
            {{#each item in collection.items}}
            <div class="company-item js-company-item" data-item-id="{{item._id}}">
                <div class="company-item-info">
                    <h5>{{item.name}}</h5>
                    <p>{{item.info_en}}</p>
                    <h5>{{item.price}}€ · {{item.kcal}}Kcal</h5>
                </div>
                <div class="company-item-image" style="background-image: url({{thumbUrl item.image_thumb}})">

                </div>
            </div>
            {{/each}}

        </div>
        {{/each}}

    </div>



    <div class="company-item-modal">
        <div class="row company-item-header" style="background-image: url({{thumbUrl selectedItem.image_thumb}})">
            
        </div>
        <div class="row company-item-account-info">
            <div class="col">
                <div class="title">{{selectedItem.name}}</div>
                <h4>{{selectedItem.price}}€ · {{selectedItem.kcal}}Kcal</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{selectedItem.description}}</p>


            </div>
        </div>

    </div>
    <div class="overflow-company-modal"></div>
    
</template>

