<template name="publicCompany">

    <div class="row">
        <div class="col">
            <h2>Virtual Pages</h2>
            <p>View the status of your order by looking for the number of your pager!</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h2>Ready <b>({{readyPagers.length}})</b></h2>
            <div class="divider"></div>
            <p>Here you can find if your food is ready for pick-up!</p>
            {{#each pager in readyPagers}}
            <div class="col s6 m6 l3">
                <div class="card state{{pager.state}} card-pulse" >
                    <div class="card-content white-text">
                        <span class="card-title">{{pager.name}}</span>
                        <p class="state-description">{{getStateDescription pager.state}}</p>
                    </div>
                </div>
            </div>
            {{else}}
            <p>Currently there are no active pagers available.</p>
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h2>Preparing <b>({{preparingPagers.length}})</b></h2>
            <div class="divider"></div>
            <p>Pagers here mean that the food is still currently being prepared</p>
            {{#each pager in preparingPagers}}
            <div class="col s6 m6 l3">
                <div class="card state{{pager.state}}">
                    <div class="card-content white-text">
                        <span class="card-title">{{pager.name}}</span>
                        <p class="state-description">{{getStateDescription pager.state}}</p>
                    </div>
                </div>
            </div>
            {{else}}
            <p>Currently there are no active pagers available.</p>
            {{/each}}
        </div>
    </div>

    <!-- <div class="company-header" style="background-image: url({{imageUrl company.image}})"></div>

    <div class="company-content">
        <div class="company-description">
            <h2>{{company.name}}</h2>
            <p>{{{company.description}}}</p>
        </div>

        {{#each collection in collections}}
        <div class="company-collection">
            <h4>{{collection.name}}</h4>
            {{#each item in collection.items}}
            <div class="company-item js-company-item" data-item-id="{{item._id}}">
                <div class="company-item-info">
                    <h5>{{item.name}}</h5>
                    <p>{{item.info_en}}</p>
                    <h5>{{item.price}}€ · {{item.kcal}}Kcal</h5>
                </div>
                <div class="company-item-image" style="background-image: url({{thumbUrl item.image_thumb}})">

                </div>
            </div>
            {{/each}}

        </div>
        {{/each}}

    </div>



    <div class="company-item-modal">
        <div class="row company-item-header" style="background-image: url({{thumbUrl selectedItem.image_thumb}})">
            
        </div>
        <div class="row company-item-account-info">
            <div class="col">
                <div class="title">{{selectedItem.name}}</div>
                <h4>{{selectedItem.price}}€ · {{selectedItem.kcal}}Kcal</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{selectedItem.info_en}}</p>


            </div>
        </div>

    </div>
    <div class="overflow-company-modal"></div> -->

</template>