.company-header{
    width: 100%;
    height: 400px;
    background-origin: content-box;
    background-size: cover;
    background-position: center;
}

.company-content{
    width: 80%;
    max-width: 1000px;
    position: absolute;
    z-index: 1000;
    left: 10%;
    right: 10%;
    top: 200px;
}

@media only screen and (max-width: 1100px) {
    .company-content{
        width: 100%;
        top: 400px;
        left: 0;
        right: 0;
    }

    .company-item, .company-collection{
        padding: 2%;
    }

    .company-item-modal{
        width: 90% !important;
        transform: translateX(101%) !important;
    }
    
    .company-item-modal-toggled{
        transform: translateX(1%) !important;
    }
}

@media only screen and (min-width: 1250px) {
    .company-content{
        left: calc(50% - 500px);
        right: calc(50% - 500px);
    }


    .company-item-modal{
        width: 50% !important;
        transform: translateX(101%) !important;
    }
    
    .company-item-modal-toggled{
        transform: translateX(1%) !important;
    }
}

.company-description{
    background-color: #fff;
    position: relative;
    width: 100%;
    float: left;
    height: 400px;
    padding: 5%;
}.company-description > h3, .company-description > h2, .company-description > h1{
    width: 100%;
    color: #333;
    padding-bottom: 20px;
}

.company-collection{
    padding-top: 40px;
    padding-bottom: 40px;
    float: left;
    width: 100%;
    position: relative;
}.company-collection > h4{
    font-weight: 500;
}

.company-item{
    height: 270px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

.company-item-info{
    width: calc(100% - 210px);
    float: left;
}
.company-item-info > h5{
    padding-bottom: 20px;
}.company-item-info > p{
    height: 100px;
    text-overflow: ellipsis;
    opacity: .7;
}

.company-item-image{
    width: 210px;
    height: 190px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    background-origin: content-box;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
}



.company-item-modal{
	position: fixed;
    background-color: #fff;
    width: 400px;
    height: 100vh;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    transform: translateX(405px);
    transition: all 600ms;
    color: #333;
    right: 0;
    top: 0;
    z-index: 2000;
}

.company-item-modal-toggled{
	transform: translateX(5px);
}

.overflow-company-modal{
    position: fixed;
    z-index: 1800;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all 400ms;
    background-color: #333;
    opacity: .9;
    top: 0;
}

.company-item-modal-toggled ~ .overflow-company-modal{
    left: 0;
}

.company-item-modal > .company-item-header{
    height: 40%;
    width: 100%;
    background-origin: content-box;
    background-size: cover;
    background-position: center;
}