<template name="plates">

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pratos do Guy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-8">
                            <input type="text" class="form-control" id="insertPlateName" placeholder="Nome do prato">
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" id="insertPlatePrice" placeholder="Preço">
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" id="insertPlateCal" placeholder="Kcal">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <input type="text" class="form-control" id="insertPlateInfoEn" placeholder="Descriçao Ingles...">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" id="insertPlateInfoPt" placeholder="Descrição Portugues...">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" id="insertPlateInfoEs" placeholder="Descrição Espanhol...">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" id="insertPlateCategory" class="form-control" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Selecionar Categoria...</button>
                                    <div class="dropdown-menu">
                                        {{#each categoriesList}}
                                            <a class="dropdown-item" id="selectPlateCategory" href="#">{{name}} </a>
                                        {{/each}}
                                        <!-- <div role="separator" class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Separated link</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" id="insertPlate" class="btn btn-primary">Adicionar Prato</button>
                        </div>
                    </div>
                    <!-- <ul class="list-group">
                        {{#each platesList}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{name}}
                            <span class="badge badge-primary badge-pill">{{kcal}}</span>

                            <button class="btn btn-danger" id="removePlate">X</button>
                        </li> 
                        {{/each}}
                    </ul> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</template>