
.sidenavigation{
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden;
}
.sidenav-user{
    height: 150px;
    /* background-image: url("https://pixinvent.com/materialize-material-design-admin-template/images/gallary/12.png") */
    background-color: #009BDD;
}

.sidenav-nav{
    padding-top: 20px;
    padding-bottom: 20px;
}
    .sidenav-ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .sidenav-li {
        height: 45px;
        /* background-color: #c1c1c1; */
        margin-bottom: 1px;
    }

        .sidenav-divider {
            height: 45px;
            /* background-color: #c1c1c1; */
            margin-bottom: 1px;
            display: block;
            height: auto !important;
            margin-top: 10px;
            padding-top: 15px;
            padding-left: 27px;
            text-decoration: none;
            text-transform: uppercase;
            opacity: .6;
            box-sizing: border-box;
            border-top: #dcdcdc;
            font-size: 85%;
            font-weight: 400 !important;

        }

    .sidenav-a {
        display: block;
        height: 45px;
        margin-left: 3px;
        text-decoration: none;
        cursor: pointer;
        opacity: .6;
        box-sizing: border-box;
        transition: opacity ease-in 0.2s ;
        font-size: 16px;
        color: #333 !important;
        
    }
        .sidenav-a:hover {
            margin-left: 0px;
            background-color: #dcdcdc;
            /* border-left: 3px solid #333; */
            opacity: 1;

            /* background-color: #222; */
        }

        .sidenav-a.active {
            margin-left: 0px;
            background-color: #dcdcdc;
            opacity: 1;
        }

        .sidenav-a > i{
            float: left;
            line-height: 45px;
            padding-left: 20px;
            transform: scale(0.90);
        }

        .sidenav-a.active i {
            /* background-color: #c1c1c1; */
            
        }

        .sidenav-a span{
            float: left;
            padding-left: 20px;
            line-height: 45px;
        }