<template name="sidenav">

    <div class="sidenavigation">
        <!-- <div class="sidenav-user">
            <div class="">

            </div>
        </div> -->
        <div class="sidenav-nav">
            <ul class="sidenav-ul">
                <!-- <li class="divider"></li> -->
                <li class="sidenav-li">
                    <a class="sidenav-btn sidenav-a active" href="/">
                        <i class="material-icons">dashboard</i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <!-- <li class="sidenav-li">
                    <a class="sidenav-btn sidenav-a" href="/receipts">
                        <i class="material-icons">receipt</i>
                        <span>Facturas</span>
                    </a>
                </li> -->
                <li class="sidenav-li">
                    <a class="sidenav-btn sidenav-a" href="/devices">
                        <i class="material-icons">devices</i>
                        <span>Devices</span>
                    </a>
                </li>
                <!-- <li class="sidenav-li">
                    <a class="sidenav-btn sidenav-a" href="/menu">
                        <i class="material-icons">chrome_reader_mode</i>
                        <span>G's Menu</span>
                    </a>
                </li> -->
                <!-- <li class="sidenav-li">
                    <a class="sidenav-btn sidenav-a" href="/banner">
                        <i class="material-icons">wallpaper</i>
                        <span>Banner</span>
                    </a>
                </li> -->
                <li class="sidenav-li">
                    <a class="sidenav-btn sidenav-a" href="/items">
                        <i class="material-icons">list
                        </i>
                        <span>Items</span>
                    </a>
                </li>
                <!-- <li>
                    <a>
                        <i class="material-icons">get_app</i>
                        <span>Plugins</span>
                    </a>
                </li> -->
                <!-- <li class="sidenav-divider">Account</li>
                <li class="sidenav-li">
                    <a class="sidenav-btn sidenav-a" href="/">
                        <i class="material-icons">settings</i>
                        <span>Settings</span>
                    </a>
                </li>
                <li class="sidenav-li">
                    <a class="sidenav-btn sidenav-a" href="/logout">
                        <i class="material-icons">exit_to_app</i>
                        <span>Log Out</span>
                    </a>
                </li> -->
            </ul>
        </div>

    </div>

</template>