

.select-modal{
	position: absolute;
	background-color: #fff;
	width: auto;
	height: 400px;
	max-height: 400px;
	opacity: 0;
	border-radius: 4px;
    -moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	will-change: transform;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition: -webkit-transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
	transition: transform .2s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
	z-index: -1;
	padding: 2px;
	overflow: hidden;
	overflow-y: auto;


}

.select-modal-toggled{
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	z-index: 10000;
}


.select-list-button{
    width: 100%;
    float: left;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}.select-list-button:hover{
    background-color: #19aec2;
    color: #fff;
}