<template name="pagers">

    <section class="section-padding">
        <div class="container-fluid">
            <div class="row">
                {{#each pager in pagers}}
                <div class="col-6 col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="card state{{pager.state}}">
                        <div class="card-body">
                            <span class="card-title">{{pager.name}}</span>
                            <p class="state-description"></p>
                        </div>
                        <div class="card-tabs">
                            <div data-pager-id="{{pager._id}}" data-pager-num="{{pager.index}}" data-state="1"
                                class="card-tab-item js-state-select {{isActive pager.state 1}}">
                                Inactive
                            </div>
                            <div data-pager-id="{{pager._id}}" data-pager-num="{{pager.index}}" data-state="2"
                                class="card-tab-item js-state-select {{isActive pager.state 2}}">
                                Preparing
                            </div>
                            <div data-pager-id="{{pager._id}}" data-pager-num="{{pager.index}}" data-state="3"
                                class="card-tab-item js-state-select {{isActive pager.state 3}}">
                                Finished
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

</template>