<template name="receipts">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Facturas
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                        Data
                    </div>
                    <div class="col-lg-6">
                        Factura / Guia
                    </div>
                    <div class="col-lg-4">
                        Valor
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="receipt-item">
                            <div class="col-lg-2">
                                
                            </div>
                            <div class="col-lg-6">

                            </div>
                            <div class="col-lg-4">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>