.fullscreen {
  height: 100vh !important;
  overflow: visible;
}

.carousel-item img{
  width: 100%;
  height: 100vh;
}

.carousel-image{
  width: 100%;
  height: 100%;
  background-origin: content-box;
    background-size: cover;
    background-position: center;
}


#slideshow{
  position: absolute;
  z-index: 1000;
  top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
}


.slideshow-title{
    position: absolute;
    padding: 4vh;
    font-size: 6vh !important;
    color:#fff;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.slide-item-description{
    position: absolute;
    /* max-width: 780px;
    min-width: 580px; */
    padding: 4vh;
    background-color: rgba(100, 100, 100, 0.6);
    font-size: 6vh !important;
    color:#fff;
    float: right;
    margin-right: -100%;
    bottom: 10%;
    right: 0;
    transition: 1s;
}


.slide-item-description .plate-description{
    font-size: 4vh !important;
    color:#fff;
    transition: all 1s ease-in-out;
}

/* ######################## SLIDER DISPLAY ####################*/
.carousel-item.active > .slide-caption{
  opacity: 1;
  right: 0% !important;
}

.slide-caption{
  position: absolute;
  padding: 4vh;
  background-color: rgba(100, 100, 100, 0.6);
  top: auto !important;
  left: auto !important;
  bottom: 15% !important;
  right: 0% !important;
  width: auto !important;
  text-align: left !important;
  opacity: 0;
  transition: all 2s ease-in-out;
  right: -100% !important; 
}.slide-caption > h3, .slide-caption > h5{
  color:#fff !important;
  font-weight: 400;
}

  