<template name="imageTextEdit">
    <div class="row p-3">
        <div class="col-12">
            <label>Add a new Text</label>
            <button class="button green js-add-text">Add Text</button>
        </div>
        <div class="col-12">
            <label>Select Image</label>
            <button class="button green js-add-image">Find image...</button>
        </div>

        <div class="col-12">
            <label>Create Template</label>
            <button class="button green js-generate">Generate</button>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-12">
            <iframe id="image-text-iframe" style="width: 720px; height: 480px;"
                src="/image/text/{{template._id}}/preview"></iframe>
        </div>
    </div>
</template>

<template name="displayImageText">
    <div class="image-text-wrapper">
        <style>
            .image-text-wrapper {
                width: 100%;
                height: 100%;
                position: fixed;
                background-color: #333;
            }

            #image {
                width: 100%;
                height: 100%;
                position: fixed;
                background-attachment: fixed;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            #image-text {
                z-index: 100;
                position: fixed;
                font-weight: bolder;
                width: fit-content;
            }
        </style>
        {{#with template}}
        <div id="image" class="image"></div>
        {{#each text in this.texts}}
        <div id="image-text" draggable="true" class="text js-select-text" data-index="{{@index}}"
            style="{{parseStyle text.style}} cursor: pointer;">
            {{{text.value}}}
        </div>
        <script>
            //Make the DIV element draggagle:
            
            

        
        </script>
        {{/each}}

        {{/with}}
    </div>
</template>