<template name="imageText">
    <div class="row">
        <div class="col-12">
            <div class="card no-style light">
                <div class="card-body">
                    <div class="row p-3">
                        <div class="col-12">
                            <h4>Gerir Menus</h4>
                            <p>Aqui tens opção para gerir os teus menus. Podes ter um numero infinito de ementas especializadas. 
                                Para criar mais, basta escrever um nome descritivo e o numero de categorias que pretendes na ementa.
                                <br>Categorias são consideradas agrupamentos(Entradas, Carnes, Bebidas, etc.)
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label>Template Name</label>
                            <input class="form-control" id="imageText-name" type="text">
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <br>
                            <button class="button js-create-imageText">Criar agora</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3 mb-3">
        <div class="col-12">
            <div class="Rtable Rtable--5cols Rtable--collapse">

                {{#each imageText in imageTexts}}
                <div style="order:2; padding: 0;"
                    class="Rtable-cell Rtable-cell--image Rtable-cell--head --alignMiddle">
                    <div class="thumb small"
                        style="width: 100%; height: 200px; background-image: url({{thumbUrl imageText.image_thumb}});">
                    </div>
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    {{imageText.name}}
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    <a href="{{imageUrl imageText.image}}" target="_blank" class="button blue">Ver</a>
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    <button class="button blue js-imageText-select" data-image-text="{{imageText._id}}">Editar</button>
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    <button class="button blue js-imageText-remove" data-image-text="{{imageText._id}}">Remover</button>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</template>