<template name="imageTextInfo">

    {{#with textSelected}}
    <div class="row p-3">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <label>Text</label>
                    <input type="text" class="form-control js-imageText-edit" data-key="value" value="{{this.value}}">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label><b>Bold</b></label>
                    <input type="checkbox" class="js-imageText-edit" data-key="font-weight" value="bold;"
                        {{isChecked "font-weight" "bold;" "checked"}}>
                </div>
                <div class="col-12">
                    <label><i>Italic</i></label>
                    <input type="checkbox" class="js-imageText-edit" data-key="font-style" value="italic;"
                        {{isChecked "font-style" "italic;" "checked"}}>
                </div>
                <div class="col-12">
                    <label><u>Underline</u></label>
                    <input type="checkbox" class="js-imageText-edit" data-key="text-decoration" value="underline;"
                        {{isChecked "text-decoration" "underline;" "checked"}}>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <label>Image Position</label>
                    <select data-key="background-position" class="form-control js-imageText-edit">
                        <option></option>
                        <option value="bottom;" {{isChecked "background-position" "bottom;" "selected"}} >Bottom</option>
                        <option value="center;" {{isChecked "background-position" "center;" "selected"}} >Center</option>
                        <option value="left;" {{isChecked "background-position" "left;" "selected"}} >Left</option>
                        <option value="right;" {{isChecked "background-position" "right;" "selected"}} >Right</option>
                        <option value="top;" {{isChecked "background-position" "top;" "selected"}} >Top</option>
                    </select>
                </div>
            </div> -->
            <div class="row">
                <div class="col-12">
                    <div class="divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Font-size ({{style 'font-size'}})</label>
                    <!-- <input type="num" class="js-imageText-edit" data-key="font-size" data-unit="vh" value="{{style 'font-size'}}">
 -->
                    <input type="range" class="js-imageText-edit" data-key="font-size" data-unit="vw" min="0" max="15"
                        value="{{value 'font-size'}}" step="1" />
                </div>
                <div class="col-6">
                    <label>Padding ({{this.style.padding}})</label>
                    <input type="range" class="js-imageText-edit" data-key="padding" data-unit="vw" min="0" max="10"
                        value="{{this.originals.padding}}" step="1" />
                </div>
                <!-- <div class="col-6">
                    <label>Top ({{this.style.top}})</label>
                    <input type="range" class="js-imageText-edit" data-key="top" data-unit="vh" min="0" max="100"
                        value="{{this.originals.top}}" step="1" />
                </div>

                <div class="col-6">
                    <label>Left ({{this.style.left}})</label>
                    <input type="range" class="js-imageText-edit" data-key="left" data-unit="vw" min="0" max="100"
                        value="{{this.originals.left}}" step="1" />
                </div> -->
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Font</label>
                    <select data-key="font-family" class="form-control js-imageText-edit">
                        <option></option>
                        <option value="Arial;" {{isChecked "font-family" "Arial;" "selected"}} >Arial</option>
                        <option value="Calibri;" {{isChecked "font-family" "Calibri;" "selected"}} >Calibri</option>
                        <option value="Roboto;" {{isChecked "font-family" "Roboto;" "selected"}} >Roboto</option>
                    </select>
                </div>
                <div class="col-12">
                    <label>Color</label>
                    <div class="picker" acp-color="#EFE9E7" acp-show-rgb="no" acp-show-hsl="no" acp-show-hex="yes" acp-show-alpha>
                    </div>
                    <!-- <select data-key="color" class="form-control js-imageText-edit">
                        <option></option>
                        <option data-key="color" value="#fff;" {{isChecked "color" "#fff;" "selected"}} >White</option>
                        <option data-key="color" value="#000;" {{isChecked "color" "#000;" "selected"}} >Black</option>
                        <option data-key="color" value="gray;" {{isChecked "color" "gray;" "selected"}} >Gray</option>
                        <option data-key="color" value="red;" {{isChecked "color" "red;" "selected"}} >Red</option>
                        <option data-key="color" value="green;" {{isChecked "color" "green;" "selected"}} >Green</option>
                        <option data-key="color" value="yellow;" {{isChecked "color" "yellow;" "selected"}} >Yellow</option>
                        <option data-key="color" value="Orange;" {{isChecked "color" "orange;" "selected"}} >Orange</option>
                    </select> -->
                </div>
                <div class="col-12">
                    <label>Background</label>
                    <select data-key="background" class="form-control js-imageText-edit">
                        <option></option>
                        <option value="rgba(0, 0, 0, 0.5);" {{isChecked "background" "rgba(0, 0, 0, 0.5);" "selected"}} >Dark</option>
                        <option value="rgba(255, 255, 255, 0.5);" {{isChecked "background" "rgba(255, 255, 255, 0.5);" "selected"}} >Light</option>
                    </select>
                </div>
                {{#with this.originals.background}}
                <div class="col-12">
                    <label>Border Radius ({{value "border-radius"}})</label>
                    <input type="range" class="js-imageText-edit" data-key="border-radius" data-unit="px" min="0" max="100"
                        value="{{value 'border-radius'}}" step="1" />
                </div>
                {{/with}}
                
            </div>
            <div class="row pt-3 pb-3">
                <div class="col-12">
                    <button class="button red js-remove-text">Remove</button>
                </div>
            </div>

        </div>


    </div>

    {{/with}}
</template>