<template name="imageTextInfo">

    {{#with textSelected}}
    <div class="row p-3">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="label">Text</div>
                    <input type="text" class="form-control js-imageText-edit" data-key="value" value="{{this.value}}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label><b>Bold</b></label>
                    <input type="checkbox" class="js-imageText-edit" data-key="font-weight" value="bold;"
                        {{isChecked "font-weight" "bold;" "checked"}}>
                </div>
                <div class="col-4">
                    <label><i>Italic</i></label>
                    <input type="checkbox" class="js-imageText-edit" data-key="font-style" value="italic;"
                        {{isChecked "font-style" "italic;" "checked"}}>
                </div>
                <div class="col-4">
                    <label><u>Underline</u></label>
                    <input type="checkbox" class="js-imageText-edit" data-key="text-decoration" value="underline;"
                        {{isChecked "text-decoration" "underline;" "checked"}}>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="label">Font Styles</div>
                </div>
                <div class="col-6">
                    <label>Font-size ({{style 'font-size'}})</label>
                    <!-- <input type="num" class="js-imageText-edit" data-key="font-size" data-unit="vh" value="{{style 'font-size'}}">
 -->
                    <input type="range" class="js-imageText-edit" data-key="font-size" data-unit="vw" min="0" max="15"
                        value="{{value 'font-size'}}" step="1" />
                </div>
                <div class="col-6">
                    <label>Font-family ({{value 'font-family'}})</label>
                    <select data-key="font-family" class="form-control js-imageText-edit">
                        <option></option>
                        <option value="Arial;" {{isChecked "font-family" "Arial;" "selected"}} >Arial</option>
                        <option value="Calibri;" {{isChecked "font-family" "Calibri;" "selected"}} >Calibri</option>
                        <option value="Roboto;" {{isChecked "font-family" "Roboto;" "selected"}} >Roboto</option>
                    </select>
                </div>
            </div>
<!--             <div class="row">
                <div class="col-12">
                    <div class="divider"></div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-12">
                    <label>Font Color</label>
                </div>
                <div class="col-12">
                    <div class="picker" data-key="color" acp-color="{{value.color}}" acp-show-rgb="no" acp-show-hsl="no" acp-show-hex="yes" acp-show-alpha>
                    </div>
                </div>
                
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="divider"></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="label">Background Styles</div>
                </div>
                <div class="col-6">
                    <label>Border Radius ({{value "border-radius"}})</label>
                    <input type="range" class="js-imageText-edit" data-key="border-radius" data-unit="px" min="0" max="100"
                        value="{{value 'border-radius'}}" step="1" />
                </div>
                <div class="col-6">
                    <label>Padding ({{this.style.padding}})</label>
                    <input type="range" class="js-imageText-edit" data-key="padding" data-unit="vw" min="0" max="10"
                        value="{{this.originals.padding}}" step="1" />
                </div>

                <div class="col-12">
                    <label>Background Color</label>
                </div>
                <div class="col-12">
                    <div class="picker" acp-color="{{value.background}}" data-key="background" acp-show-rgb="no" acp-show-hsl="no" acp-show-hex="yes" acp-show-alpha>
                    </div>
                </div>
                
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="divider"></div>
                </div>
            </div>
            <div class="row mt-3 pb-3">
                <div class="col-12">
                    <button class="button red js-remove-text">Remove</button>
                </div>
            </div>

        </div>


    </div>

    {{/with}}
</template>