.display-video{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: fill;
}

.progress-download{
    position: fixed;
    bottom: 20px;
    width: 50%;
    left: 25%;
    background-color: red;
}