<template name="deviceEdit">
    <div class="col s12 m7">
        <div class="card horizontal">
            <iframe class="card-image" width="720" height="420" src="{{deviceUrl}}"></iframe>
            <!-- <img src="{{item.image_thumb}}"> -->
            <div class="card-stacked">
                <div class="card-content">
                    <div class="card-content">
                        <span class="card-title"><b>{{device.name}}</b></span>
                        <label>Live display</label>
                        <p>{{liveDisplay.name}}</p>
                        <br>
                        <label>Status</label>
                        <p>{{isOnline}}</p>
                        <br>
                        <a href="{{deviceUrl}}" target="_blank">Live view here!</a>
                    </div>
                </div>
                <!-- <div class="card-action">
                            <a href="#">This is a link</a>
                        </div> -->
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="input-device-name" type="text" value="{{device.name}}" data-key="name"
                            class="validate valid deviceEdit">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <div class="sub-title">Selected Display</div>
                        <div class="card-action">
                            {{> moduleDisplaySelect}}
                        </div>
                    </div>
                </div>
                <div class="sub-title">Template Status</div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12">

                            {{#if displayTemplateVisible}}
                            <p>Current template is live!</p>
                            {{else}}
                            <p>Current template is offline. Click "Go Live!" to make this your primary template
                                being
                                displayed.</p>
                            <div class="button go-live js-live-switch" data-device-id="{{device._id}}">Go Live!
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{#if hasDisplay}}
                <div class="sub-title">Displayed Items</div>
                <div class="card-action">
                    {{#if staticDisplay}}
                    <!-- ################### STATIC DISPLAY ####################### -->
                    <div class="row">
                        <div class="col s12">
                            {{> moduleImageUpload}}
                        </div>
                    </div>

                    {{else}}

                    {{#if videoDisplay}}
                    <!-- ################### VIDEO DISPLAY ################ -->
                    <div class="row">
                        <div class="col s12">
                            {{> moduleVideoUpload}}
                        </div>
                    </div>
                    {{else}}
                    <!-- ################### NORMAL TEMPLATE DISPLAY ############### -->
                    <div class="row">
                        {{#each item in selectedDisplayItems}}
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-image" style="overflow: inherit;">
                                    <img src="{{item.image_thumb}}">
                                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                                        <i class="material-icons js-display-item-remove"
                                            data-item-id="{{item._id}}">remove</i>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4"
                                        style="font-size: 20px;">{{item.name}}</span>
                                </div>

                            </div>
                        </div>
                        {{else}}
                        <p>You have no items selected to display</p>
                        {{/each}}

                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a class="btn-floating btn-large waves-effect waves-light blue right js-add-item"><i
                                    class="material-icons">add</i></a>
                        </div>
                    </div>

                    {{/if}}
                    <!-- ENDIF VIDEO DISPLAY -->
                    {{/if}}
                    <!-- ENDIF STATIC DISPLAY -->
                </div>


                {{/if}}
                <!-- ENDIF IF DISPLAY -->
            </div>
        </div>
    </div>
</template>