<template name="imagesEdit">
    {{#with image}}
        <div class="row">
            <div class="col-12">
                <div class="card no-style p-0">
                    <img src="{{thumbUrl this.image_thumb}}" class="card-img-top" data-image="{{image._id}}">

                    <div class="row p-3">
                        <div class="col-12">
                            <a class="button green center" href="{{imageUrl this._id}}" target="_blank">
                                View <i class="material-icons p-1">
                                    zoom_in
                                    </i></a>
                        </div>
                        {{#with deviceUsing}}
                        <div class="col-12">
                            <label>Device Using</label>
                            <p><a href="/devices/edit/{{this._id}}">{{this.name}}</a></p>
                        </div>
                            
                        {{/with}}
                        <div class="col-12">
                            <label>Image Type</label>
                            <p>{{this.original.type}}</p>
                        </div>
                        <div class="col-12">
                            <label>Size</label>
                            <p>{{formatBytes this.original.size}}</p>
                        </div>
                        <div class="col-12">
                            <button id="{{this._id}}" class="button center danger js-remove-image">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {{/with}}
</template>