<template name="mediaImages">
    {{#with data}}
    <div class="row">
        <div class="col-12">
            <div class="card no-style center-align light">
                <div class="card-body">
                    <div class="row p-3">
                        <div class="col-12">
                            <p>

                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="label">Total images</div>
                            <div class="count">{{this.total}}</div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="label">Storage Used</div>
                            <div class="count">{{formatBytes this.storage}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-6">
            <div class="card no-style text-center">
                <div class="card-body">

                    {{#if imageUploading.status}}
                    <div class="row">
                        <div class="col-12">
                            <h4>{{imageUploading.name}}</h4>
                            <p>{{formatPercent imageUploading.progress 0}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class='progress-wrapper'>
                                <div class='progress-bar'>
                                    <div id='progress' class='bar-value' style="width:{{imageUploading.progress}}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-12">
                            <h4>Upload image</h4>
                            <p>
                                Select a file to upload a new image to your account.
                            </p>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-12">
                            <!-- <form id="image-upload" action="http://localhost/files" method="post" >
                                <div class='file-input'>
                                    <input type='file' name="file" accept="image/*"  />
                                    <button class='button'>Choose image...</button>
                                </div>
                                <div class="file-input">
                                    <button type="submit" class="button">Upload Now!</button>
                                </div>
                            </form> -->
                            <div class='file-input'>
                                <input type='file' accept="image/*" id="image-input-test" />
                                <button class='button'>Choose image...</button>
                                
                            </div>
                        </div>
                        <div class="col-12">
                            <label class='label' id="image-input-label">No file selected</label>
                        </div>
                        <!-- <div class="col-12">
                            {{#with containsImage}}
                            <button class='button js-save-image' data-rotation="0">Save Image</button>
                            <button class='button js-save-image' data-rotation="90">Save Image 90º</button>
                            {{else}}
                            <label class='label' id="image-input-label">No file selected</label>
                            {{/with}}
                            <canvas id="image-upload-canvas" width="720" height="480"></canvas>

                            
                        </div> -->


                    </div>
                    {{/if}}
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="card no-style text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4>Image Editor</h4>
                            <p>
                                Create a custom image with text using and existing image.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <br>
                            <a href="{{pathFor route='media.images.text'}}" class="button center"><i
                                    class="material-icons">photo_filter</i><span>Image Editor</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row p-3">

        {{#if this.images}}
        {{#each image in this.images}}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card card-select js-select-image" data-image="{{image._id}}">
                {{> img file=image }}
                
            </div>
        </div>
        {{/each}}

        {{/if}}
        
    </div>
    {{/with}}
</template>
