<template name="dashboard">
    <h1>Dashboard</h1>

    <div class="container-background">
        <div class="row">
            <div class="col s6">
                <h4>Company</h4>
                <h5>{{company.name}}</h5>
            </div>
            <div class="col s6">
                <h4>User</h4>
                <h5>{{user.name}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12"><h4>Social Media</h4></div>
            <div class="col s12">
                <div class="social-btn notConnected">Fb</div>
            </div>
        </div>
    </div>

</template>