.loader{
  width: 520px;
  height: 791px;
  background: #ccc;
  opacity: .6;
  position: absolute;
  display: block;
  margin: auto;
  /* margin-top: -200px; */
}

.lds-hourglass {

  display: inline-block;
  position: relative;
  width: 104px;
  height: 104px;
  margin: auto;

}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  margin: auto;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 106px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
