<template name="headerDropdown">
	<div class="header-dropdown">
		<div class="header-dropdown-choice js-profile">
			<div class="header-dropdown-choice-title">Profile</div>
		</div>
		<!-- <div class="header-dropdown-choice js-posts">
			<div class="header-dropdown-choice-title">Posts</div>
		</div>
		<div class="header-dropdown-choice js-messaging">
			<div class="header-dropdown-choice-title">Messaging</div>
		</div> -->
		<div class="header-dropdown-choice js-logout">
			<div class="header-dropdown-choice-title">Logout</div>
		</div>
	</div>
</template>