<template name="templateEdit">
    <div class="row p-5">
        <div class="col-12">
            <button class="button js-generate-template float-left m-3" data-rotation="0">Gerar</button>
            <button class="button js-generate-template float-left m-3" data-rotation="90">Gerar 90º</button>
            <button class="button js-generate-template float-left m-3" data-rotation="-90">Gerar -90º</button>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-12">
            <div style="margin: auto; text-align: center;">
                <iframe id="template-edit-iframe" style="width: 480px; height: 720px"></iframe>
            </div>
            <!-- <div style="margin: auto; text-align: center;">
                <iframe id="template-edit-iframe" style="width: 720px; height: 480px"></iframe>
            </div> -->
        </div>
    </div>

    <img id="image" width="1080" height="1920" style="right: -200%; position: fixed; visibility: hidden;">
    <canvas id="canvas" style="right: -200%; position: fixed;"></canvas>


    <!-- <iframe id="template-iframe"></iframe> -->
   <!--  <canvas id="iframe-canvas" width="1920" height="1080"></canvas>
 -->
    <!-- {{#width confirmRender}}
        <div class="confirm-render">
            <div class="img">

            </div>
        </div>
    {{/width}} -->
</template>

<template name="templatePreview">
    {{#with template}}
    <div id="template" >
        <img id="template-image" src="/images/portugueseLab/menuBackground.jpg" class="menu-wrapper-image">
        <div class="menu-wrapper">
            <!-- <div class="menu-title">
                EMENTA
            </div> -->

            {{#each category in this.data}}
            <div class="menu-section">
                <div class="section-title js-category-select" data-category-index="{{@index}}">
                    <div class="js-edit">{{category.name}}
                        <div>{{category.name}}</div>
                        <div>{{category.name}}</div>
                    </div>
                    <div class="js-edit">{{category.name2}}</div>
                </div>
                <div class="section-content">
                    {{#let categoryIndex=@index}}
                    {{#each item in category.data}}
                    <div class="content-item {{category.style}} {{item.style}} js-item-select {{selected categoryIndex @index}}"
                        data-category-index="{{categoryIndex}}" data-item-index="{{@index}}">
                        <div class="item-left">
                            <div class="js-edit">{{{item.info1}}}
                                <span class="js-edit">{{{item.info2}}}</span>
                            </div>
                        </div>

                        <div class="item-right">
                            <div class="js-edit">{{item.price}}</div>
                            <div class="js-edit">

                                {{#with icon categoryIndex @index "new"}}
                                <div class="text">Novo/New</div>
                                {{else}}
                                {{#if icon categoryIndex @index "vegan"}}
                                <div class="icon vegan">vegan</div>
                                {{/if}}
                                {{#if icon categoryIndex @index "organic"}}
                                <div class="icon organic">organic</div>
                                {{/if}}
                                {{#if icon categoryIndex @index "gluten"}}
                                <div class="icon gluten">gluten</div>
                                {{/if}}
                                {{/with}}
                                <!--                            <div class="icon vegan">vegan</div>
                                <div class="icon gluten">gluten</div>
                                <div class="icon organic">natural</div>
                                <div>Novo/new</div>
                                {{item.icons}} -->
                            </div>
                        </div>

                    </div>
                    {{/each}}
                    {{/let}}
                </div>

            </div>
            {{/each}}

        </div>
    </div>
    {{else}}
    This template was not found...
    {{/with}}
</template>