<template name="mediaVideos">
    {{#with data}}
    <div class="row">
        <div class="col-12">
            <div class="card no-style center-align light">
                <div class="card-body">
                    <div class="row p-3">
                        <div class="col-12">
                            <p>

                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="label">Total Videos</div>
                            <div class="count">{{this.total}}</div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="label">Storage Used</div>
                            <div class="count">{{formatBytes this.storage}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-12">
            <div class="card no-style text-center">
                <div class="card-body">


                    {{#if videoUploading.status}}
                    <div class="row">
                        <div class="col-12">
                            <h4>{{videoUploading.name}}</h4>
                            <p>{{formatPercent videoUploading.progress 0}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class='progress-wrapper'>
                                <div class='progress-bar'>
                                    <div id='progress' class='bar-value' style="width:{{videoUploading.progress}}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-12">
                            <h4>Upload Video</h4>
                            <p>
                                Select a file to upload a new video to your account.
                            </p>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-12">
                            <div class='file-input'>
                                <input type='file' accept="video/*" id="video-input" />
                                <button class='button'>Choose Video</button>
                                <label class='label' id="video-input-label">No file selected</label>
                            </div>
                        </div>

                    </div>
                    {{/if}}
                </div>
            </div>

        </div>

    </div>
    <div class="row p-3 mb-3">
        {{#if this.videos}}
        {{#each video in this.videos}}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card card-select js-select-video" data-video="{{video._id}}">
                {{#if video.image_thumb}}
                <img src="{{thumbUrl video.image_thumb}}" class="card-img-top" data-video="{{video._id}}">
                {{else}}
                <video id="video-edit-{{video._id}}" src="{{videoUrl video._id}}" preload="auto" onloadeddata="captureImage()"
                    class="card-img-top" data-video="{{video._id}}"></video>
                {{/if}}
                <div class="card-body">
                    <h5 class="card-title">{{video.original.name}}</h5>
                    <!-- <p class="card-text">
                        <button id="{{video._id}}" class="button danger center js-remove-video">
                            Delete Video
                        </button>
                    </p> -->
    <div class="row">
        <div class="grid-card-wrapper">
            {{#if this.videos}}
            {{#each video in this.videos}}
            <div class="grid-card selectable js-select-video" data-video="{{video._id}}">
                <div class="gc-thumbnail">
                    {{> img file=video}}
                </div>
                <div class="gc-body">
                    <div class="gcb-title">
                        {{video.file.name}}
                    </div>
                    <!-- <div class="gcb-meta">
                        Emperor Palpatine's Secret Jedi Killing ARMY - Star Wars Explained
                    </div> -->
                </div>
            </div>
            <!-- <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card card-select js-select-video" data-video="{{video._id}}">
                    {{> img file=video}}
                    <div class="card-body">
                        <h5 class="card-title">{{video.file.name}}</h5>

                    </div>
                </div>
            </div> -->
            {{/each}}

            {{/if}}
        </div>

    </div>
    {{/with}}
</template>