/* NAVBAR */
.navbar{
    position: fixed;
    top: 0;
    /* left: 300px; */
    /* width: calc(100% - 300px); */
    width: 100%;
    height: 64px;
    /* background-color: #3d88e5; */
    background-color: #fff;
    line-height: 64px;
    color: #fff;
    z-index: 998;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.navbar .navbar-logo{
    width: 100%;
    float: left;
    height: 64px;
    width: 301px;
    border-right: 1px solid rgba(0,0,0,0.05);
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    color: #333;
    /* background-color: #3a81d9; */
}

.navbar .navbar-nav{
    padding: 0px 16px;
    float: right;
    height: 63px;
} 
.navbar-nav .navbar-item{
    float: right;
    padding: 0px 20px;
    cursor: pointer;
    color: #333;
    height: 63px;
    border-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    transition: border 100ms ease-out;
}.navbar-item:hover {
    border-bottom-width: 3px;
}

.navbar-item i{
    line-height: 64px;
    font-size: 1.8rem;
}

.container-route{
    width: calc(100% - 300px);
    left: 300px;
    top: 64px;
    height: 85px;
    position: relative;
    background-color: #fff;
    z-index: 898;
    line-height: 85px;
    padding: 0px 16px;
    border-left: 1px solid rgba(0,0,0,0.05);
}.container-route .route{
    /* color: #3d88e5; */
    text-transform: capitalize;

}.container-route .route-history{

}


/* SIDEBAR */
.sidebar{
    position: fixed;
    top: 64px;
    left: 0;
    width: 300px;
    height: calc(100vh - 65px);
    background-color: #fff;
    color: #f4f4f4;
    z-index: 798;
}

.sidebar .sidebar-logo{
    width: 100%;
    float: left;
    padding: 0 16px;
    height: 64px;
    line-height: 64px;
    background-color: #3a81d9;
    /* border-bottom: 1px solid rgba(0,0,0,0.2); */
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}

.sidebar .sidebar-menu{
    width: 100%;
    height: calc(100% - 65px);
    float: left;
}.sidebar-menu .sidebar-menu-item{
    width: 100%;
    float: left;
    height: 65px;
    line-height: 65px;
    padding: 0px 16px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    transition: filter 200ms ease-in-out;
    color: #333;
    }.sidebar-menu-item:hover {
        background-color:rgba(0,0,0,0.05);
    }

    .sidebar-menu-item.active {
        
    }

    .sidebar-menu-item i{
        float: left;
        line-height: 65px;
        padding-left: 20px;
        transform: scale(0.90);
    }

    .sidebar-menu-item span{
        float: left;
        padding-left: 20px;
    }
.sidebar-menu .sidebar-footer{
    position: relative;
    
}.sidebar-footer .sidebar-menu-item{
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 0px;
    }


/* CONTAINER */
.main{
    position: fixed;
    top: 149px;
    left: 301px;
    width: calc(100% - 295px);
    height: calc(100vh - 149px);
    overflow: hidden;
    overflow-y: auto;
    align-content: center;
    box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.14), inset 0 3px 1px -2px rgba(0,0,0,0.12), inset 0 1px 5px 0 rgba(0,0,0,0.2);

    box-shadow: inset -2px 3px 5px rgba(0,0,0,.14);

    
}



.container {
    margin: auto;
    margin-top: 20px;
    /* max-width: 1280px; */
    width: 95% !important;
    padding: 20px;
}

/* @media only screen and (min-width: 993px){
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: 601px){
    .container {
        width: 99%;
    }
}
 */












/* OLD CODE */
/* 
.container-background{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 100%;
	padding: 20px;
	overflow: hidden;
	overflow-y: auto;
	background-color: #fff;
}

.yieldContent{
    width: calc(100% - 250px);
    top: 65px;
    position: fixed;
    height: calc(100vh - 65px);
    margin-left: 250px;
    padding: 0% !important;
    background-color: #fafafa;
    padding: 2% !important;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 900;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.layout{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    overflow-y: hidden;
    height: auto;
    background-color: #eee;
  }


.sidenavigation{
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden;
}

.content-layout{
    position: fixed;
    height: calc(100vh - 90px);
    width: calc(100% - 250px);
    left: 250px;
    top: 130px;
    overflow-y: auto;
    box-sizing: border-box;
  }

.content-pagination{
    position: fixed;
    height: 65px;
    width: calc(100% - 250px);
    left: 250px;
    top: 65px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 500;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    line-height: 65px;
    font-size: 1.3rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

  .container{
      width: 100% !important;
  } */