.card .card-body .card-title {
    height: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
}


.card-col-4{
    column-count: 4;
}

.card.stat{
    background-color: transparent;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 0;
}.card.stat > .card-body > .card-title{
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #fff;
}.card.stat > .card-body > .card-text{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #fff;
}

.stat:nth-child(1) > .card-body{
    background-color: #565a85;
}.stat:nth-child(2) > .card-body{
    background-color: #8e24aa;
}.stat:nth-child(3) > .card-body{
    background-color: #fdcd05;
}.stat:nth-child(4) > .card-body{
    background-color: #ee0d0d;
}
