.progress-wrapper {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.progress-bar {
    width: 100% !important;
    height: 15px !important;
    border-radius: 15px !important;
    box-sizing: border-box !important;
    background-color: #606dbc !important;
    float: left !important;
    transition: all 200ms ease !important;
}

.progress-bar>.bar-value {
    background-color: #465298;
    width: 4%;
    min-width: 4%;
    border-radius: 15px;
    max-width: 100%;
    height: 15px;
    float: left;
    position: relative;
}