.expense-status{
    padding: 0.1em 1em;
    border-radius: 25px;
    background-color: #ccc;
    text-align: center;
    text-transform: capitalize;
    font-size: 0.8em;
    width: fit-content;
}

.expense-status.unpaid{
    background-color: #fdcd05;
    color: #fff;
}

.expense-status.overdue{
    background-color: #ee0d0d;
    color: #fff;
}

.expense-status.paid{
    background-color: #8bc34a;
    color: #fff;
}