<template name="expenses">
    <div class="row p-3">
        <div class="col-12">
            <ul>
                <li class="list-header">
                    <div class="row">
                        <div class="col-2">
                            Supplier
                        </div>
                        <div class="col-2">

                        </div>
                        <div class="col-1">
                            Paid
                        </div>
                        <div class="col-1">
                            Amount
                        </div>
                        <!-- <div class="col-1">
                            Issued
                        </div> -->
                        <div class="col-2">
                            Due
                        </div>
                        <div class="col-2">
                            Status
                        </div>
                        <div class="col-2">

                        </div>
                    </div>
                </li>
                {{#each expense in expenses}}
                <li>
                    <div class="row">
                        <div class="col-2">
                            {{expense.supplier}}
                        </div>
                        <div class="col-2">
                            {{expense.invoice_id}}
                        </div>
                        <div class="col-1">
                            <input type="checkbox" class="js-paid-check" checked="{{expense.paid}}"
                                id="{{expense._id}}">
                        </div>
                        <div class="col-1">
                            {{expense.amount}}€
                        </div>
                        <!-- <div class="col-1">
                            {{getDate expense.issued.stamp}}
                        </div> -->
                        <div class="col-2">
                            {{getDate expense.due.stamp}}
                        </div>
                        <div class="col-2">
                            <div class="expense-status {{getExpenseStatus expense}}">{{getExpenseStatus expense}}</div>
                        </div>
                        <div class="col-2">
                            <button id="{{expense._id}}" class="button small js-remove-expense">Remove</button>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-12">
            <div id="expenseBackup"></div>
        </div>
        <div class="col-12">
            <br>
            <input type="file" class="button" id="uploadBackup">
        </div>
        
    </div>


</template>