<template name="expenses">

    <div class="row p-3">
        <div class="col-12">
            <div class="Rtable Rtable--6cols">

                <div style="order:1" class="Rtable-cell cell-header">
                    Supplier
                </div>
                <div style="order:1" class="Rtable-cell cell-header">
                    Invoice Id
                </div>
                <div style="order:1" class="Rtable-cell cell-header">
                    Paid
                </div>
                <div style="order:1" class="Rtable-cell cell-header">
                    Amount
                </div>
                <div style="order:1" class="Rtable-cell cell-header">
                    Status
                </div>
                <div style="order:1" class="Rtable-cell cell-header">
                    
                </div>


                {{#each expense in expenses}}
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    {{expense.supplier}}
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    {{expense.invoice_id}}
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    <input type="checkbox" class="js-paid-check" checked="{{expense.paid}}"
                                id="{{expense._id}}">
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    {{formatCurrency expense.amount}}
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    <div class="expense-status {{getExpenseStatus expense}}">{{getExpenseStatus expense}}</div>
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    <button id="{{expense._id}}" class="button small js-remove-expense">Remove</button>
                </div>
                {{/each}}

            </div>
        </div>
    </div>

    <div class="row p-3">
        <div class="col-12">
            <div id="expenseBackup"></div>
        </div>
        <div class="col-12">
            <br>
            <input type="file" class="button" id="uploadBackup">
        </div>
        
    </div>


</template>