.header-layout{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color: transparent;
	position: relative;
	z-index: 1000;
/*	background-image: url('/images/bg-nav.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;*/
	color: #fff;
	height: 65px;
}

.header-col-left{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
    width: calc(100% / 3);
    padding: 10px;
}
.header-col-center{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
    width: calc(100% / 3);
    text-align: center;
    padding: 10px;
}
.header-col-right{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
    width: calc(100% / 3);
    text-align: right;
    padding: 10px;
}

.header-col-action{
	position: relative;
	width: auto;
	height: auto;
	display: inline-block;
}

.header-col-action.search{
	color: #c2c2c2;
	margin-left: 15px;
}.header-col-action.search .header-col-action-item{
	font-size: 18px;
}.header-col-action.search .header-col-action-item i{
	line-height: 40px;
	vertical-align: middle;
	font-size: 20px;
}.header-col-action.search .header-col-action-item div{
	line-height: 40px;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	font-weight: 300;
}

.header-col-action-item{
	font-size: 24px;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	min-width: 2.5rem;
	vertical-align: top;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}.header-col-action-item i{
	line-height: 40px;
	vertical-align: middle;
	font-size: 27px;
}.header-col-action-item a.logo{
	font-weight: 600;
	font-size: 1.3rem;
	display: inline-block;
	letter-spacing: .3em;
	line-height: 45px;
	text-indent: .3em;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}.header-col-action-item img.logo{
	width: 50px;
	height: 50px;
}
.header-col-action-item-profile{
	width: auto;
	line-height: 40px;
}.header-col-action-item-profile img.profile-image{
	position: relative;
	width: 35px;
	height: 35px;
	margin-right: 5px;
	margin-top: 0px;
	border: 2px solid #fff;
	border-radius: 100%;
	display: inline-block;
}.header-col-action-item-profile div.profile-name{
	position: relative;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
}

.header-col-action-item.button{
	width: 45px;
	height: 45px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
}.header-col-action-item.button i{
	line-height: 45px;
}
.header-col-action-item.button:hover{
	background-color: #444;
}

.header-banner{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: #fff;
	padding: 30px;
	text-align: center;
	position: relative;
	z-index: 10;
	/*background-image: url('/images/icon.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-blend-mode: difference;*/
}.header-banner-content{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;   /* <---- NEW    */
}.header-banner-content div.content{
	width: auto;
}.header-banner-content div.content div.banner-title{
	font-weight: 100;
	font-size: 42px;
	line-height: 50px;
	color: white;
	line-height: 1;
	margin-bottom: .25em;
}.header-banner-content div.content div.banner-search{
	background-color: #444;
	padding: 10px;
	padding-bottom: 14px;
	border-radius: 4px;
	margin: 20px;
	margin-left: 40px;
	margin-right: 40px;
	opacity: .6;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}.header-banner-content div.content div.banner-search:hover{
	opacity: .9;
}.header-banner-content div.content div.banner-search i{
	display: inline-block;
	bottom: -5px;
	position: relative;
	font-weight: 100;
	font-size: 24px;
	color: #fff;
}.header-banner-content div.content div.banner-search div.icon-text{
	display: inline-block;
	position: relative;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
}

.icon-navigation-badge{
	position: absolute;
	width: 22px;
	height: 22px;
	line-height: 18px;
	padding: 1px;
	border-radius: 100%;
	margin-top: -42px;
	margin-left: 19px;
	color: #fff;
	font-weight: 300;
	font-size: 12px;
	background-color: #c33825;
}
