<template name="editItem">
    <section class="section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-12 p-0">
                    <div class="row no-gutters">
                        <div class="col-sm-12 col-md-6">
                            <img class="img-fluid" src="{{thumbUrl item.image_thumb}}">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{item.name}}</h5>
                                <label>Calories:</label>
                                <p>{{item.kcal}}</p>
                                <label>Info</label>
                                <p>{{item.info_pt}}</p>
                                <label>Price</label>
                                <p>{{item.price}}€</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding pt-0">
        <div class="container-fluid">
            <header>
                <h1 class="h3 display">Edit/change Item </h1>
            </header>

            <div class="row">
                <!-- To Do List-->
                <div class="card col-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <label>Name</label>
                                <input type="text" class="form-control plateEdit" value="{{item.name}}" data-key="name"
                                    placeholder="Name">

                                <label>Price</label>
                                <input type="text" class="form-control plateEdit" value="{{item.price}}"
                                    data-key="price" placeholder="Price">

                                <label>Calories</label>
                                <input type="text" class="form-control plateEdit" value="{{item.kcal}}" data-key="kcal"
                                    placeholder="Calories">
                            </div>
                            <!-- Pie Chart-->
                            <div class="col-6">
                                {{> moduleImageUpload}}
                            </div>
                            <div class="col-12">
                                <label>Description</label>
                                <textarea class="form-control plateEdit" value="{{item.description}}"
                                    data-key="description"
                                    placeholder="Write down a description of the item. Feel free to put as much information has possible..."></textarea>
                            </div>

                            <div class="col-12">
                                <div class="button danger right js-item-remove">Delete Item</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</template>