<template name="editItem">
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{item.image_thumb}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title"><b>{{item.name}}</b></span>
                    <label>Calories:</label>
                    <p>{{item.kcal}}</p>
                    <label>Info</label>
                    <p>{{item.info_pt}}</p>
                    <label>Price</label>
                    <p>{{item.price}}€</p>
                </div>
                <!-- <div class="card-action">
                    <a href="#">This is a link</a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="card">
        <!-- <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                require little markup to use effectively.</p>
        </div> -->
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#itemStats">Stats</a></li>
                <li class="tab"><a href="#itemEdit">Edit / Change</a></li>
            </ul>
        </div>
        <div class="card-content">
            <div id="itemStats">
                <div class="row">
                    <div class="col s12">
                        <div class="sub-title">Facebook stats:</div>
                    </div>
                </div>
                {{#if fbConnected}}
                {{#if fbPost}}
                <div class="row">

                    <div class="col s4">
                        <label>Likes</label>
                        <div class="sub-title">{{fbPost.likes.summary.total_count}}</div>
                    </div>
                    <div class="col s4">
                        <label>shares</label>
                        <div class="sub-title">{{fbPost.shares.count}}</div>
                    </div>
                    <div class="col s4">

                        <label>Comments</label>
                        <div class="sub-title">{{fbPost.comments.summary.total_count}}</div>

                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label>Latest comments</label>
                        {{#each comment in fbPost.comments.data}}
                        <div class="row">
                            <div class="col s12">
                                {{comment.message}}
                            </div>
                        </div>
                        {{/each}}
                    </div>

                </div>
                {{else}}
                <div class="row">

                    <div class="col s12">
                        <p>You have not created a post with this item yet.</p>
                        <div class="button js-post-item">Post Item to facebook</div>
                    </div>
                </div>

                {{/if}}
                <!-- ENDIF FB POST -->
                {{else}}
                <div class="row">
                    <div class="col s12">
                        <p>To view item stats of facebook make sure you are connected to facebook</p>
                    </div>
                </div>

                {{/if}}
                <!-- ENDIF FACEBOOK CONNECTED -->


            </div><!-- END ITEM STATS TAB -->
            <div id="itemEdit">
                <div class="row">
                    <div class="input-field col s6">
                        <!-- <i class="material-icons prefix small ">account_circle</i> -->
                        <input id="input-name" type="text" value="{{item.name}}" data-key="name"
                            class="validate valid plateEdit">
                        <label class="active" for="input-name">Item Name</label>
                        <h4> {{> moduleCategorySelect}}</h4>
                    </div>
                    <div class="col s6">
                        {{> moduleImageUpload}}

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in plateEdit" data-key="image_flipped"
                                    checked="{{item.image_flipped}}" />
                                <span>Flip image</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <!-- <i class="material-icons prefix small ">account_circle</i> -->
                        <input id="input-price" type="text" value="{{item.price}}" data-key="price"
                            class="validate valid plateEdit">
                        <label class="active" for="input-price-">Price</label>
                    </div>
                    <div class="input-field col s6">
                        <!-- <i class="material-icons prefix small ">account_circle</i> -->
                        <input id="input-kcal" type="text" value="{{item.kcal}}" data-key="kcal"
                            class="validate valid plateEdit">
                        <label class="active" for="input-kcal">Kcal(optional)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <!-- <i class="material-icons prefix small ">account_circle</i> -->
                        <input id="input-info-en" type="text" value={{item.info_en}} data-key="info_en"
                            class="validate valid plateEdit">
                        <label class="active" for="input-info-en">English Description</label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <!-- <i class="material-icons prefix small ">account_circle</i> -->
                        <input id="input-info-pt" type="text" value={{item.info_pt}} data-key="info_pt"
                            class="validate valid plateEdit">
                        <label class="active" for="input-info-pt">Portuguese Description</label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <!-- <i class="material-icons prefix small ">account_circle</i> -->
                        <input id="input-info-es" type="text" value={{item.info_es}} data-key="info_es"
                            class="validate valid plateEdit">
                        <label class="active" for="input-info-es">Spanish Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div class="select-button danger js-item-remove">Delete Item</div>
                    </div>
                </div>
            </div><!-- END ITEM EDIT TAB -->
        </div>
    </div>
    <div class="col s12">


    </div>
</template>