<template name="revenue">
    <div class="row p-3">
        <div class="col-12">
            <ul>
                <li class="list-header">
                    <div class="row">
                        <div class="col-4">
                            Date
                        </div>
                        <div class="col-2">
                            Amount
                        </div>
                        <div class="col-4">
                            Observation
                        </div>
                        <div class="col-2">
                            
                        </div>
                    </div>
                </li>
                {{#each revenue in dailyRevenue}}
                <li>
                    <div class="row">
                        <div class="col-4">
                            {{getDate revenue.stamp}}
                        </div>
                        <div class="col-2">
                            {{revenue.value}}€
                        </div>
                        <div class="col-4">
                            {{revenue.observation}}
                        </div>
                        <div class="col-2">
                            <button id="{{revenue._id}}" class="button small js-remove-revenue">Remove</button>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>