<template name="suppliersInfo">
    <div class="row p-3">
        <div class="col-12">
            <p><b>Suppliers</b></p>
        </div>
    </div>
    <div class="row p-3">
        <div class="row p-3">
            <div class="col-md-12">
                <p class="mb-0">Create a new supplier.</p>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nameInsert">Name</label>
                    <input type="text" class="form-control" id="nameInsert" placeholder="Supplier's name">
                    <!-- <small class="form-text text-muted">Select a date</small> -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="descriptionInsert">Description</label>
                    <input type="text" class="form-control" id="descriptionInsert"
                        placeholder="Observation description">
                    <!-- <small class="form-text text-muted">Select a date</small> -->
                </div>
            </div>
            <div class="col-md-12">
                <button class="button full right js-insert-supplier">Create Supplier</button>

            </div>
        </div>
    </div>
</template>