.list-module-item {
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
    display: inline-block;
    height: auto;
    height: 18rem;
    width: calc(100% / 4);
    float: left;
    padding: 5px;
    position: relative;
    text-align: left;
    vertical-align: top;
}

.list-module-item > .module-item-content{
    background: white;
    display: inline-block;
    min-height: 100%;
    min-width: auto;
    width: 100%;
    position: relative;
    text-decoration: none;
    padding: 2rem 1.25rem 1.5rem;
    background-color: #fff;
}