<template name="templates">
    <div class="row">
        <div class="col-12">
            <div class="card no-style light">
                <div class="card-body">
                    <div class="row p-3">
                        <div class="col-12">
                            <h4>Gerir Menus</h4>
                            <p>Aqui tens opção para gerir os teus menus. Podes ter um numero infinito de ementas especializadas. 
                                Para criar mais, basta escrever um nome descritivo e o numero de categorias que pretendes na ementa.
                                <br>Categorias são consideradas agrupamentos(Entradas, Carnes, Bebidas, etc.)
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label>Nome de menu</label>
                            <input class="form-control" id="template-name" type="text">
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label>Numero de categorias</label>
                            <input class="form-control" id="template-cat-count" type="number" value="1">
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <br>
                            <button class="button js-create-template">Criar agora</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3 mb-3">
        <div class="col-12">
            <div class="Rtable Rtable--5cols Rtable--collapse">

                {{#each template in templates}}
                <div style="order:2; padding: 0;"
                    class="Rtable-cell Rtable-cell--image Rtable-cell--head --alignMiddle">
                    <div class="thumb small"
                        style="width: 100%; height: 200px; background-image: url({{thumbUrl template.image_thumb}});">
                    </div>
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    {{template.name}}
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    <a href="{{imageUrl template.image}}" target="_blank" class="button blue">Ver</a>
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    <button class="button blue js-template-select" data-template-id="{{template._id}}">Editar</button>
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle Rtable-cell--foot">
                    <button class="button center danger js-template-remove" data-template-id="{{template._id}}">
                        Delete
                    </button>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
    <!-- <div class="row p-3">
        {{#each template in templates}}
        <div class="col-md-3">
            <div class="card text-center card-select js-template-select" data-template-id="{{template._id}}">
                <img src="{{imageUrl template.image}}" class="card-img-top">
                <div class="card-body">
                    <div class="card-title"></div>
                    <p class="card-text">
                        <strong class="text-primary">{{template.name}}</strong>
                    </p>
                    <div class="card-footer">
                        <button class="button danger">Apagar Menu</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div> -->
</template>