<template name="templateEditInfo">
    <div class="row p-3">
        <div class="col-12">
            <p>Selecionar elementos na ementa para editar as mesmas.</p>
        </div>
    </div>
    {{#with editCategory}}
    <div class="edit-wrapper p-2">
        <label>Nome</label>
        <input class="form-control js-edit-category" type="text" data-key="name" value="{{this.name}}">
        <label>Nome 2º</label>
        <input class="form-control js-edit-category" type="text" data-key="name2" value="{{this.name2}}">
        {{#if isTwoColumn this.style}}
        <button class="button js-set-two-column float-left m-3" data-key="style" value="">Uma Coluna</button>
        {{else}}
        <button class="button js-set-two-column float-left m-3" data-key="style" value="two-column">Duas
            Colunas</button>
        {{/if}}
        <br><br>
        <button class="button js-add-row float-left m-3">Adicionar Elemento ao Grupo</button>
    </div>
    {{/with}}
    {{#with editItem}}
    <div class="edit-wrapper p-2">
        <label>Descriçao</label>
        <textarea class="form-control js-edit-item" data-key="info1">{{this.info1}}</textarea>
        <label>Descriçao 2º</label>
        <textarea class="form-control js-edit-item" data-key="info2">{{this.info2}}</textarea>
        <label>Preço</label>
        <input class="form-control js-edit-item" type="text" data-key="price" value="{{this.price}}">
        <!--         <label>Extras</label>
        <input class="form-control js-edit-item" type="text" data-key="icons" value="{{this.icons}}"> -->
        <button class="button js-remove-row float-left m-3">Remover este Elemento</button>
    </div>
    <div class="row p-2">
        <div class="col-12">
            <label>Informaçao descritiva?</label>
        </div>
        <div class="col-sm-12 col-md-6 mb-1">
            <button class="button js-select-info center" data-key="info" value="true">Selecionar</button>
        </div>
        <div class="col-12">
            <label>Extras</label>
        </div>

        <div class="col-sm-12 col-md-6 mb-1">
            <button class="button js-select-extra center" data-key="organic">Organico</button>
        </div>
        <div class="col-sm-12 col-md-6 mb-1">
            <button class="button js-select-extra center" data-key="vegan">Vegan</button>
        </div>
        <div class="col-sm-12 col-md-6 mb-1">
            <button class="button js-select-extra center" data-key="gluten">s/Gluten</button>
        </div>
        <div class="col-sm-12 col-md-6 mb-1">
            <button class="button js-select-extra center" data-key="new">Novo</button>
        </div>


    </div>
    {{/with}}

</template>