/* Float four columns side by side */
.list-devices-card{
    float: left;
    width: 100%;
    padding: 2rem 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform .2s cubic-bezier(.4,0,.2,1);
  }.list-devices-card:hover{
    transform: scale(1.02);
  }
  
  /* Responsive columns */
  @media screen and (max-width: 1200px) {
    .list-devices-card {
      width: calc(100% / 2 - 20px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .list-devices-card {
      width: calc(100% - 10px);
    }
  }
  