<template name="devices">
    {{#each device in listDevices}}
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{device.name}}</span>
                    <p>Live template: <b>{{getLiveDisplay device}}</b></p>
                </div>
                <div class="card-action">
                    <a class="js-devices-card-select" data-item-id="{{device._id}}" style="cursor: pointer;">View
                        device</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <p>There are no items to show.</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</template>