<template name="mediaImages">

    <div class="col-12">
        <form action="#">
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="imageUploadButton">
                    <label class="custom-file-label" for="imageUploadButton">Choose file</label>
                </div>
                <div class="file-path-wrapper">
                    <input hidden class="button file-path validate" type="text">
                </div>
            </div>
        </form>
    </div>
</template>