<template name="mediaImages">
    {{#with data}}
    <div class="row">
        <div class="col-12">
            <div class="card no-style center-align light">
                <div class="card-body">
                    <div class="row p-3">
                        <div class="col-12">
                            <p>

                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="label">Total images</div>
                            <div class="count">{{this.total}}</div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="label">Storage Used</div>
                            <div class="count">{{formatBytes this.storage}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-6">
            <div class="card no-style text-center">
                <div class="card-body">

                    {{#if imageUploading.status}}
                    <div class="row">
                        <div class="col-12">
                            <h4>{{imageUploading.name}}</h4>
                            <p>{{formatPercent imageUploading.progress 0}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class='progress-wrapper'>
                                <div class='progress-bar'>
                                    <div id='progress' class='bar-value' style="width:{{imageUploading.progress}}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-12">
                            <h4>Upload image</h4>
                            <p>
                                Select a file to upload a new image to your account.
                            </p>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-12">
                            <div class='file-input'>
                                <input type='file' accept="image/*" id="image-input" />
                                <button class='button'>Choose image...</button>
                                <!-- <label class='label' id="image-input-label">No file selected</label> -->
                            </div>
                        </div>
                        <div class="col-12">
                            <label class='label' id="image-input-label">No file selected</label>
                        </div>
                        <!-- <div class="col-12">
                            {{#with containsImage}}
                            <button class='button js-save-image' data-rotation="0">Save Image</button>
                            <button class='button js-save-image' data-rotation="90">Save Image 90º</button>
                            {{else}}
                            <label class='label' id="image-input-label">No file selected</label>
                            {{/with}}
                            <canvas id="image-upload-canvas" width="720" height="480"></canvas>

                            
                        </div> -->


                    </div>
                    {{/if}}
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="card no-style text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4>Image Editor</h4>
                            <p>
                                Create a custom image with text using and existing image.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <br>
                            <a href="{{pathFor route='media.images.text'}}" class="button center"><i
                                    class="material-icons">photo_filter</i><span>Image Editor</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row p-3">

        {{#if this.images}}
        {{#each image in this.images}}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card">
                <img src="{{thumbUrl image.image_thumb}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <div class="row">
                            <div class="col-6">
                                <button id="{{image._id}}" class="button center danger js-remove-image">
                                    Delete
                                </button>
                            </div>
                            <div class="col-6">
                                <a class="button blue center" href="{{imageUrl image._id}}" target="_blank">Full
                                    view</a>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        {{/each}}

        {{/if}}
        
    </div>
    {{/with}}
</template>

<!-- <div class="col-12">
            <div class="Rtable Rtable--5cols Rtable--collapse">
                {{#each image in this.images}}
                <div style="order:2; padding: 0;"
                    class="Rtable-cell Rtable-cell--image Rtable-cell--head --alignMiddle">
                    <div class="thumb small"
                        style="width: 100%; height: 200px; background-image: url({{thumbUrl image.image_thumb}});">
                    </div>
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">{{formatBytes image.original.size}}</div>
                <div style="order:2" class="Rtable-cell --alignMiddle">{{image.original.type}}</div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    <a class="button blue center" href="{{imageUrl image._id}}" target="_blank">Full view</a>
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle Rtable-cell--foot">
                    <button id="{{image._id}}" class="button center danger js-remove-image">
                        Delete
                    </button>
                </div>
                {{/each}}

            </div>

           
        </div> -->