<template name="mediaVideos">
    {{#with data}}
    <div class="row">
        <div class="col-12">
            <div class="card no-style center-align light">
                <div class="card-body">
                    <div class="row p-3">
                        <div class="col-12">
                            <p>

                            </p>
                        </div>
                        <div class="col-6">
                            <label>Total Videos</label>
                            <p>{{this.total}}</p>
                        </div>
                        <div class="col-6">
                            <label>Storage Used</label>
                            <p>{{formatBytes this.storage}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-12">
            <div class="card no-style text-center">
                <div class="card-body">

                    
                    {{#if videoUploading.status}}
                    <div class="row">
                        <div class="col-12">
                            <h4>{{videoUploading.name}}</h4>
                            <p>{{formatPercent videoUploading.progress 0}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class='progress-wrapper'>
                                <div class='progress-bar'>
                                    <div id='progress' class='bar-value' style="width:{{videoUploading.progress}}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-12">
                            <h4>Upload Video</h4>
                            <p>
                                Select a file to upload a new video to your account.
                            </p>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-12">
                            <div class='file-input'>
                                <input type='file' accept="video/*" id="video-input" />
                                <button class='button'>Choose Video</button>
                                <label class='label' id="video-input-label">No file selected</label>
                            </div>
                        </div>

                    </div>
                    {{/if}}
                </div>
            </div>

        </div>

    </div>
    <div class="row p-3">
        <div class="col-12">
            {{#if this.videos}}
            <div class="Rtable Rtable--5cols">

                <div style="order:1" class="Rtable-cell cell-header">
                    Name
                </div>
                <div style="order:1" class="Rtable-cell cell-header">
                    Size
                </div>
                <div style="order:1" class="Rtable-cell cell-header">
                    Type
                </div>
                <div style="order:1" class="Rtable-cell cell-header">

                </div>
                <div style="order:1" class="Rtable-cell cell-header">

                </div>


                {{#each video in this.videos}}
                <div style="order:2" class="Rtable-cell --alignMiddle">{{video.original.name}}</div>
                <div style="order:2" class="Rtable-cell --alignMiddle">{{formatBytes video.original.size}}</div>
                <div style="order:2" class="Rtable-cell --alignMiddle">{{video.original.type}}</div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    <a class="button green" href="{{videoUrl video._id}}" target="_blank">Play</a>
                </div>
                <div style="order:2" class="Rtable-cell --alignMiddle">
                    <button id="{{video._id}}" class="button danger js-remove-video">
                        Delete
                    </button>
                </div>
                {{/each}}

            </div>
            {{/if}}
        </div>
    </div>
    {{/with}}
</template>