.accounting-nav{
    width: 100%;
    box-sizing: border-box;
}.accounting-nav > a.nav-item{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    color: #313131;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    line-height: 35px;
}a.nav-item > i{
    font: 53px;
    margin: 5px;
    float: left;
}

.accounting-nav > a.nav-item:hover, .accounting-nav > a.nav-item.active{
    background-color: #fff;
    border-left: 4px solid #8bc34a;
}

/* .stat-1, .stat-2, .stat-3, .stat-4{
    color: #fff !important;
    text-align: center;
    font-weight: bold;
}

.stat-1 > .card-text, .stat-2 .card-text, .stat-3 .card-text, .stat-4 .card-text{
    color: #fff !important;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

.card:not([class*="text"]) p {
    color: inherit !important;
}


.stat-1{
    background-color: #565a85 !important;
}.stat-2{
    background-color: #8e24aa !important;
}.stat-3{
    background-color: #fdcd05 !important;
}.stat-4{
    background-color: #ee0d0d !important;
} */