<template name="accounting">

    <div class="row p-3">
        <div class="col-12">
            <h4>Business Stats</h4>
            <p>
                Here you can have a clear image of where your company stands. These statistics are calculated using
                multiple data sets and are used to paint a picture of how you are doing.
            </p>
        </div>
    </div>

    <!-- <div class="row p-3">

        <div class="col-12 p-3">
            <div class="card">
                <div class="card-body">
                    <figure class="highcharts-figure">
                        <div id="container"></div>
                        <p class="highcharts-description">
                        </p>
                    </figure>
                </div>
            </div>
        </div>

    </div> -->

    <div class="row p-3">

        <div class="card stat col-md-6">
            <div class="card-body">
                <div class="card-title">{{currentYearTotal}}€</div>
                <p class="card-text">
                    Total Revenue
                </p>
            </div>
        </div>
        <div class="card stat col-md-6">
            <div class="card-body">
                <div class="card-title">{{expenseTotal}}€</div>
                <p class="card-text">
                    Total Expenses
                </p>
            </div>
        </div>

        <div class="card stat col-md-6">
            <div class="card-body">
                <div class="card-title">{{dailyGrowthRate}}</div>
                <p class="card-text">
                    7 Day Growth Rate
                </p>
            </div>
        </div>

        <div class="card stat col-md-6">
            <div class="card-body">
                <div class="card-title">{{currentBalance currentYearTotal expenseTotal }}€</div>
                <p class="card-text">
                    Business Cash Balance
                </p>
            </div>
        </div>

        <div class="col-12 p-3">
            <div class="card">
                <div class="card-body">
                    <figure class="highcharts-figure">
                        <div id="container"></div>
                        <p class="highcharts-description">
                        </p>
                    </figure>
                </div>
            </div>
        </div>
    </div>



</template>