<template name="accountingInfo">
    <div class="row">
        <div class="col-12">

        </div>
    </div>
    <div class="accounting-nav">
        <a class="nav-item" href="{{pathFor route='accounting.suppliers'}}"><i class="material-icons">storefront</i>Suppliers</a>
        <a class="nav-item" href="{{pathFor route='accounting.revenue'}}"><i class="material-icons">monetization_on</i>Revenues</a>
        <a class="nav-item" href="{{pathFor route='accounting.expenses'}}"><i class="material-icons">money_off</i>Expenses</a>
        <a class="nav-item" href="{{pathFor route='accounting.costs'}}"><i class="material-icons">euro</i>Costs</a>
        <a class="nav-item" href="{{pathFor route='accounting.predictions'}}"><i class="material-icons">trending_up</i>predictions</a>
        <a class="nav-item" href="{{pathFor route='accounting.calculator'}}"><i class="material-icons">dialpad</i>Calculator</a>
    </div>
</template>