.landing-header{
	padding: 1rem 0;
	border-bottom: 1px solid #f1f1f1;
}

.landing-section.footer{
	position: absolute;
	bottom: 0;
}

.landing-logo > span{
	font-size: 1.75rem;
}.landing-logo > i{
	font-size: 1.75rem;
}

.landing-section{
	margin: auto;
	border-bottom: 1px solid #ccc;
}
.landing-section.bg-img {
	padding-bottom: 200px;
	image-rendering: optimizeQuality;
  background-repeat: no-repeat;
  background-position: bottom;
  background-clip: padding-box;
  background-size: contain;
  background-position-y: 150px;
}

.landing-section:nth-child(odd), .landing-section.odd{
	background-color:#F4F4F4;
   }
   .landing-section:nth-child(even){
	background-color:#FFF;
   }

.landing-heading{
	margin-top: 50px;
	font-size: 2.5rem;
}.landing-subheading{
	font-size: 1.75rem;
}.landing-body{
	width: 100%;
	max-width: 1000px;
}


.landing-icon > i {
	font-size: 4rem;
	margin: auto;
}

.pages-nav{
	width: 100%;
	box-sizing: border-box;
}.pages-nav > .nav-button{ 
	text-align: center;
	cursor: pointer;
	padding: 1rem 2rem;
	margin: 0 1rem;
	box-sizing: border-box;
	border-bottom: 2px solid #fff;
	font-size: 1.5rem;
	font-weight: 300;
}.nav-button:hover, .nav-button.active{
	border-bottom: 2px solid #4fc3f7;
}

