ul {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

li{
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

li.list-header{
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #546e7a;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    color: #fff;
}