.plan-wrapper{
    padding: 4rem;
    border: 1px solid rgb(251, 165, 0);
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}.plan-wrapper .heading{
    font-size: 2.5rem;
}.plan-wrapper .body-text{
    font-size: 1.2rem;
    margin: 1rem 0;
}.plan-wrapper .body-text .price{
    font-size: 2rem;
    color: rgb(251, 165, 0);
}.plan-wrapper .body-text .button{
    background-color: rgb(251, 165, 0) !important;
    color: #fff !important;
}

.plan-wrapper.green {
    border: 1px solid rgb(11, 189, 170);
}.plan-wrapper.green .body-text .price{
    color: rgb(11, 189, 170);
}.plan-wrapper.green .body-text .button{
    background-color: rgb(11, 189, 170) !important;
    color: #fff !important;
}.plan-wrapper.green .body-text .button.deactivate{
    background-color: #e8eaf6 !important;
    color: #666 !important;
}
.plan-wrapper.green .body-text .button.pay-required{
    background-color: #fff176 !important;
    color: #333 !important;
}