<template name="createItem">
	<div class="row">
		<h1>Item creation</h1>
	</div>
	<div class="container-background">
		<form class="js-create-item-form">
			<div class="row">
				<div class="col s12">
					<h4>{{getCopy.title}}</h4>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					{{> moduleCategorySelect}}
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					{{> moduleImageUpload}}
				</div>
			</div>
			<div class="row">
				<br>
				<div class="input-field col s6">
					<!-- <i class="material-icons prefix small ">account_circle</i> -->
					<input id="input-price" type="text" class="validate">
					<label for="input-price-">Price</label>
				</div>
				<div class="input-field col s6">
					<!-- <i class="material-icons prefix small ">account_circle</i> -->
					<input id="input-kcal" type="text" class="validate">
					<label for="input-kcal">Kcal(optional)</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<!-- <i class="material-icons prefix small ">account_circle</i> -->
					<input id="input-info-en" type="text" class="validate">
					<label for="input-info-en">English Description</label>
				</div>

			</div>
			<div class="row">
				<div class="input-field col s12">
					<!-- <i class="material-icons prefix small ">account_circle</i> -->
					<input id="input-info-pt" type="text" class="validate">
					<label for="input-info-pt">Portuguese Description</label>
				</div>

			</div>
			<div class="row">
				<div class="input-field col s12">
					<!-- <i class="material-icons prefix small ">account_circle</i> -->
					<input id="input-info-es" type="text" class="validate">
					<label for="input-info-es">Spanish Description</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<button type="submit" class="submit js-create-item">Create item</button>
				</div>
			</div>
		</form>
	</div>
</template>


<template name="createItemCheck">
	<div class="row">
		<h1>Item creation</h1>
	</div>
	<div class="container-background">
		<!-- <div class="row">
			<div class="col s12">
				<h4>Create a new item</h4>
			</div>
		</div> -->
		<!-- <div class="row">
			<div class="col s12">
				<h4>Items</h4>
				<p>Items in this system are considered plates that are used in your menu. Items have categories, plate
					description and image, so that it can be reutilized in all the varied services we offer.</p>
			</div>
		</div> -->
		<div class="row">
			<div class="col s12">
				<p>
					Before creating your new item, we will first check if your item name has any matches to other items.
				</p>
			</div>
		</div>
		<form class="js-form-item-create-check">
			<div class="row">
				<div class="col s12">
					<input type="text" id="item-create-check-input" placeholder="What is your item name?"
						required="required">
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<button type="submit" class="submit">Continue</button>
				</div>
			</div>
		</form>
	</div>

</template>