<template name="createItem">
	<section class="section-padding">
		<div class="container-fluid">
			<header>
				<h3>Create a new Item</h3>
			</header>
			<div class="row">
				<div class="card col-12">
					<div class="card-body">
						<div class="row">
							<div class="col-6">
								<label>Name*</label>
								<input type="text" id="input-name" class="form-control" placeholder="Your item name...">

								<label>Price</label>
								<input type="text" id="input-price" class="form-control"
									placeholder="How much the item costs(incl. TAX)...">

								<label>Calories</label>
								<input type="text" id="input-kcal" class="form-control"
									placeholder="Calories of the item...">
							</div>
							<div class="col-6">
								{{> moduleImageUpload}}
							</div>
						</div>

						<div class="row">
							<div class="col-12">
								<label>Description</label>
								<textarea class="form-control" id="input-description"
									placeholder="Write down a description of the item. Feel free to put as much information has possible..."></textarea>
							</div>
						</div>

						<div class="row">
							<div class="col-12">
								<button type="submit" class="button js-create-item">Create item</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</template>