  .heading{
      text-align: center;
      padding: 40px;
      font-size: 30pt;
  }

  .mobile-ui-preview {
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 744px;
    height: 1130px;
    padding: 219px 20px 20px;
    overflow: hidden;
    border-top: 50px solid rgba(56,56,56,1);
    border-bottom: 50px solid rgba(40,40,40,1);
    border-left: 2px solid rgba(90,90,90,1);
    border-right: 2px solid rgba(90,90,90,1);
    -webkit-border-radius: 18px;
    border-radius: 18px;
    font: normal normal normal 15px/1.4 "Aldrich", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-size: cover !important;
    /* background: -webkit-linear-gradient( 37deg, rgba(255,255,255,0.2) 0, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.38) 51%, rgba(255,255,255,0.2) 100%), url("images/TV.png");
    background: -moz-linear-gradient( 53deg, rgba(255,255,255,0.2) 0, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.38) 51%, rgba(255,255,255,0.2) 100%), url("images/TV.png");
    background: linear-gradient( 53deg, rgba(255,255,255,0.2) 0, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.38) 51%, rgba(255,255,255,0.2) 100%), url("images/TV.png");
    */ background-position: 50% 50%, 50% 50%;
    /* -webkit-box-shadow: -1px 1px 0 0 rgba(90,90,90,0.8) , -5px 7px 0 0 rgba(66,66,66,1) , -1px -1px 1px 0 rgba(0,0,0,0.4) inset, -31px 29px 15px 0 rgba(0,0,0,0.56) ;
    box-shadow: -1px 1px 0 0 rgba(90,90,90,0.8) , -5px 7px 0 0 rgba(66,66,66,1) , -1px -1px 1px 0 rgba(0,0,0,0.4) inset, -31px 29px 15px 0 rgba(0,0,0,0.56) ;
    text-shadow: -1px 1px 1px rgba(0,0,0,0.2) ; */
    /* -webkit-transform: rotateX(40deg) rotateY(5deg) rotateZ(-24deg) scaleX(1) scaleY(1) scaleZ(1)  ;
    transform: rotateX(40deg) rotateY(5deg) rotateZ(-24deg) scaleX(1) scaleY(1) scaleZ(1)  ; */

    box-shadow: -1px 1px 0 0 rgba(90,90,90,0.8) , -0px 7px 0 0 rgba(66,66,66,1) , -1px -1px 1px 0 rgba(0,0,0,0.4) inset, -10px 29px 15px 0 rgba(0,0,0,0.56) ;
    transform: scale(0.7);
    margin-top: -180px;
  }
  
  

.imagePreview{
    border-radius: 50%;
    background-size: cover;
}

.layout{
    width: 100% !important;
    max-width: 100% !important;
}

.A4template{
    width: 2480px;
    height: 3580px;
   /*  background: #f1f1f1; */
    background: #828282; 
    margin: auto;
    padding-left: 20px;
    /* transform: scale(0.2); */ /* Equal to scaleX(0.7) scaleY(0.7) */
    /* margin-left: -5000px; */
    /* transform: scale(0.3); */ /* 744x1074 */
    /* display: none; */
}

.upload-image-preview {
    width: 50px;
    height: 50px;
    border: 1px solid red;
  }

.A4template .header{
    width: 100%;
    height: 600px;
    padding-top: 60px;
    text-align: center;
}

.A4template .header > .title{
    font-size: 135pt;
    font-weight: bold;
    color: #fff;
    margin-top: 120px;
}

.A4template .header > .subTitle{
    font-size: 115pt;
    display: none;
}

.A4template .bubbleInfo1{
    width: 985px;
    height: 673px;
    float: left;
    margin-left: 705px;
    z-index: 100;
    position: relative;
    background-image: url('images/bubbleInfo1_light.png');
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: contain;
    margin-top: -100px;
}

.A4template .bubbleInfo1 > .info{
    position: absolute !important;
    font-size: 55pt;
    font-weight: bold;
    width: 755px !important;
    margin: auto !important;
    margin-top: 218px !important;
    margin-left: 125px !important;
    color: #fff;
    text-align: center;
    margin-right: 5px;
}
.A4template .bubbleInfo1 > .infoCal{
    position: relative;
    font-size: 60pt;
    width: calc(100%-20px) !important;
    color: #fff;
    text-align: center;
    margin-right: 20px !important;
    /* background: #eef1eb; */
}


.A4template .bubbleImage1{
    width: 1615px;
    height: 1615px;
    border-radius: 50%;
    background: #f5f5f5;
    margin-top: -350px;
    margin-left: 30px;
    float: left;
    z-index: 50;
    position: relative;
    background-image: url('https://drive.google.com/file/d/1UZyUdikQcbFFIxhwpD79ksLPbowyHs_i/preview');
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
    transform: rotate(2deg);
    border: 10px solid #78c043;
}



/* ############################## BUBBLE 2 ####################### */



.A4template .bubbleInfo2{
    width: 872px;
    height: 734px;
    float: left;
    margin-left: 1590px;
    z-index: 100;
    position: relative;
    position: absolute;
    background-image: url(images/bubbleInfo2_light.png);
    margin-top: 1000px;
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: contain;
}

.A4template .bubbleInfo2 > .info{
    position: absolute !important;
    font-size: 55pt;
    width: 630px;
    margin: auto !important;
    margin-top: 240px !important;
    margin-left: 160px !important;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.A4template .bubbleInfo2 > .infoCal{
    position: relative;
    font-size: 60pt;
    width: 500px;
    color: #fff;
    text-align: center;
    /* background: #eef1eb; */
}


.A4template .bubbleImage2{
    width: 1400px;
    height: 1400px;
    border-radius: 50%;
    background: #f5f5f5;
    margin-top: 1350px;
    margin-left: 1020px;
    z-index: 10;
    float: left;
    position: absolute;
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
    transform: rotate(2deg);
    border: 10px solid #fcba30;
}

.totalCalorie{
    position: relative;
    width: 820px;
    height: 820px;
    margin-top: 1500px;
    margin-left: 288px;
    background: #22bbb8;
    border-radius: 50%;
    z-index: 2000;
}

.totalCalorie > .calorieIcon{
    width: 400px;
    height: 400px;
    margin: auto;
    position: absolute;
    background-image: url('images/calorieIcon.png');
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
    margin-top: 90px;
    margin-left: 200px; 
}

.totalCalorie > .calorieInfo{
    width: 820px;
    position: absolute;
    font-size: 105pt;
    font-weight: bold;
    color: #fff;
    margin-top: 320px;
    text-align: center;
}
.price{
    font-size: 115pt;
    font-weight: bold;
    position: relative;
    margin-left: 440px;
    color: rgb(255, 255, 255);
    margin-top: 220px !important;
    
}