<template name="items">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Choose item category</span>
                    {{> moduleCategorySelect}}
                </div>
                <div class="card-action">
                    <div class="js-clear-category">Clear Search</div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        {{#each item in listItems}}
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image" style="overflow: inherit;">
                    <img src="{{item.image_thumb}}" width="720" height="480">
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light red js-items-card-select"
                        data-item-id="{{item._id}}"><i class="material-icons">open_in_new</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{item.name}}</span>
                    <!-- <p>{{item.info_pt}}</p> -->
                </div>
            </div>
        </div>
        {{else}}
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <p>No items match the category.</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</template>