<template name="navbar">

    <!-- NAVBAR -->
    <div class="navbar">
        <div class="navbar-logo">Gs Bistro Management</div>

        <div class="navbar-nav">
            <ul class="navbar-ul">
                <!-- <li class="navbar-li">
                    <a class="navbar-a">
                            <button type="button" class="btn button-manage" data-toggle="modal" data-target="#exampleModal">
                                    <i class="material-icons">account_circle</i>
                                </button>
                    </a>
                </li> -->
                <!-- <li>
                    <a>
                        <i class="material-icons">notifications</i>
                    </a>
                </li> -->
                <li class="navbar-li">
                    <a class="navbar-a">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                            <!--  Gerir Pratos -->
                            <i class="material-icons">add</i>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {{> plates}}
</template>