<template name="navbar">

    <!-- {{>searchTest}} -->
    <div class="menu-nav">
        <div class="list-vertical">
            <a href="/" class="js-menu-list-item">Home</a>
            <a href="/knowledge" class="js-menu-list-item">Knowledge Center</a>
            <a href="/faq" class="js-menu-list-item">FAQ</a>
            <a href="/howto" class="js-menu-list-item">Guide</a>
            <a href="/about" class="js-menu-list-item">About</a>
            <a href="#" target="_blank" class="attribution">
                <span class="subtitle-attribution">Created by</span>
                <span class="title-attribution">IT3 Studio inc.</span>
            </a>
        </div>
    </div>
    <div class="layout-menu-overlay js-menu-layout-overlay"></div>
    <div class="layout-test">
        <div class="layout-header">
            {{> header}}
            {{> yield region='banner'}}
        </div>
        <div class="content-layout">
            <div class="content-layout-page">
                {{> yield}}
            </div>
        </div>
        <div class="footer-layout">
            {{> footer}}
        </div>
    </div>


    <!-- NAVBAR -->
    <!-- <div class="navbar">
        <div class="navbar-logo">Gs Bistro Management</div>

        <div class="navbar-nav">
            <ul class="navbar-ul">
                <li class="navbar-li">
                    <a class="navbar-a">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                            <i class="material-icons">add</i>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {{> plates}} -->
</template>