
.display-content-light{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background: #828282; */
    background: #39373c;
}

.content-light-title{
    padding-top: 2.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    position: absolute;
    z-index: 300;
    text-align: center;
    font-size: 4vw !important;
    color: #fff;
    font-weight: bold;
    float: right;
    right: 3vw;
}


.content-light-total-cal{
    width: 14vw;
    height: 14vw;
    position: absolute;
    background: red;
    left: 41vw;
    top: 33vw;
    z-index: 200;
    border-radius: 50%;
    text-align: center;
    font-size: 3vw !important;
    color: #fff;
    font-weight: bold;
    line-height: 14vw;
    transform: scale(1.2);
}

.content-light-total-price{
    padding-bottom: 3vw;
    padding-right: 5vw;
    position: absolute;
    z-index: 300;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 4vw !important;
    color: #fff;
    font-weight: bold;
}

.light-bubble-main{
    position: absolute;
    width: 45vw;
    height: 45vw; /* 1:1 Aspect Ratio */
    top: 2.5vw;
    left: 7vw;
    border-radius: 50%;
    image-rendering: optimizeQuality;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-clip: content-box !important;
    background-size: cover !important;
    transform: rotate(2deg);
    border: 0.8vw solid #78c043;
    background: white;
    z-index: 100;
}

.light-bubble-main > .bubble-main-info{
        width: 20vw;
        padding: 1vw;
        min-height: 7vw;
        text-overflow: ellipsis;
        text-align: center;
        font-size: 2.5vw !important;
        position: relative;
        margin-left: 27vw;
        margin-top: -2vw;
        display: inline-block;
        background: #22bbb8;
        border-radius: 1vw;
        color: #f6f6f6;
        -webkit-animation: bounce-in 1s 1;
                animation: bounce-in 1s 1;
        -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
        transform: rotate(2deg);
      }
      .bubble-main-info:after {
        bottom: -1.5vw;
        left: 1.5vw;
        position: absolute;
        content: "";
        border: 1.5vw solid;
        border-color: #22bbb8 transparent transparent #22bbb8;
      }
.bubble-main-info > .main-info-title{
    width: 100%;
    font-weight: bold;
    float: left;
}

.bubble-main-info > .main-info-cal{
    width:100%;
    float: left;
    font-weight: bold;
}





.light-bubble-secondary{
    position: absolute;
    width: 35vw;
    height: 35vw; /* 1:1 Aspect Ratio */
    top: 18vw;
    left: 49vw;
    border-radius: 50%;
    image-rendering: optimizeQuality;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-clip: content-box !important;
    background-size: cover !important;
    transform: rotate(2deg);
    border: 0.6vw solid #fcba30;
    background: white;
}

.light-bubble-secondary > .bubble-secondary-info{
        width: 17vw;
        padding: 0.5vw;
        padding-top: 1.8vw;
        padding-bottom: 1.8vw;
        min-height: 7vw;
        text-overflow: ellipsis;
        text-align: center;
        font-size: 2.3vw !important;
        position: relative;
        margin-left: 26vw;
        margin-top: -5vw;
        display: inline-block;
        background: #eb539e;
        border-radius: 1vw;
        color: #f6f6f6;
        -webkit-animation: bounce-in 1s 1;
                animation: bounce-in 1s 1;
        -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
                transform: rotate(-5deg);
      }
      .bubble-secondary-info:after {
        bottom: -1.5vw;
        left: 1.5vw;
        position: absolute;
        content: "";
        border: 1.5vw solid;
        border-color: #eb539e transparent transparent #eb539e;
      }
.bubble-secondary-info > .secondary-info-title{
    width: 100%;
    float: left;
    font-weight: bold;
}

.bubble-secondary-info > .secondary-info-cal{
    width:100%;
    float: left;
    font-weight: bold;
}