.full-static{
    width: 100vh;
    height: 100vh;
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
}