@media (min-width: 1012px){
    .d-lg-flex {
        display: flex !important;
    }
}

@media (min-width: 1012px){
    .p-responsive {
        padding-right: 16px !important;
        padding-left: 16px !important;
    }
}

@media (min-width: 544px){
    .p-responsive {
        padding-right: 40px !important;
        padding-left: 40px !important;
    }
    .p-responsive {
        padding-right: 16px !important;
        padding-left: 16px !important;
    }
}

@media (min-width: 1012px){
    .page-responsive .HeaderMenu {
        display: block;
        clear: none;
    }

    .page-responsive .HeaderMenu {
        display: none;
        clear: both;
    }
}

@media (min-width: 1012px){
    .d-lg-flex {
        display: flex !important;
    }
    .flex-auto {
        flex: 1 1 auto !important;
    }
    .flex-justify-between {
        justify-content: space-between !important;
    }
}



.d-flex {
    display: flex !important;
}

.flex-items-center {
    align-items: center !important;
}
.flex-justify-between {
    justify-content: space-between !important;
}

.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}