<template name="footer">
	<div class="footer-row">
		<div class="footer-col-left">
			<div class="footer-col-box">
				<h5 class="footer-heading">About</h5>
				<p class="footer-text">This website was designed to help companies share their knowledge between its employees and its data. It was developed so that employees have a place to where they can post a question and await reply from other collegues while also being able to directly contact them.</p>
				<h5 class="footer-heading">Developed by</h5>
				<p class="footer-text">{{app "developer"}}</p>
			</div>
		</div>
		<div class="footer-col-right">
			<div class="footer-col-box">
				<div class="footer-col-box-left">
					<h5 class="footer-heading">Learn More</h5>
					<p class="footer-text"><a href="/howto">How To Guide</a></p>
					<p class="footer-text"><a href="/knowledge">Knowledge Centre</a></p>
					<p class="footer-text"><a href="/faq">FAQ</a></p>
					<p class="footer-text"><a href="http://twitter.com/divvyhelper">Contact Us</a></p>
				</div>
				<!-- <div class="footer-col-box-right">
					<h5 class="footer-heading">Posts</h5>
					<p class="footer-text js-post-count">{{postCount}}</p>
					<h5 class="footer-heading">Answers</h5>
					<p class="footer-text">{{answerCount}}</p>
				</div> -->
				<br>
				<div style="width: 100%; float: left;">
					<h5 class="footer-heading">Contact us</h5>
					<p class="footer-text">If you have any feedback that can help us improve your experience please dont hesitate to contact us through twitter.</p>
					<!-- <p> <a href="#"><img src="/images/icons/twitter.png" width="28"></a></p> -->
				</div>
			</div>
		</div>
	</div>
	<div class="landing-footer" style="background-color: #111; padding: 0px; padding-top: 40px;">
		<div id="logo">
			<h1><a href="/">{{app "name"}}</a></h1>
			<span>{{app "copyright"}}</span>
		</div>
	</div>
</template>